@model BpmnExtraction

@{
    ViewData["Title"] = "Create";
}

<style>
    .custom-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

        .custom-form label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        .custom-form select {
            width: 100%;
            height: 150px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            resize: vertical;
        }

        .custom-form button {
            display: block;
            margin-top: 10px;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            .custom-form button:hover {
                background-color: #0056b3;
            }

        .custom-form .instruction {
            margin-bottom: 10px;
            font-style: italic;
            color: #888;
        }
</style>

<div class="custom-form">
    <form asp-action="FinishCreate" method="post">
        <div>
            <label asp-for="SelectedItems">Select tasks that you DON'T want to include in automatization':</label>
            <p class="instruction">Hold Ctrl (or Command on Mac) to select multiple items</p>
            <select id="SelectedItems" asp-for="SelectedItems" name="SelectedItems" asp-items="@ViewBag.ItemListSelectList" multiple></select>
        </div>

        <input type="hidden" asp-for="ExtractionDate" />
        <input type="hidden" asp-for="FilePath" />

        <button type="submit">Submit</button>
    </form>
</div>


